version: '3.8'

services:
   server:
      build:
         context: .
         dockerfile: packages/server/Dockerfile
      ports:
         - 3088:3088
      volumes:
         - log_data:/app/packages/server/logs
      restart: unless-stopped
      environment:
         PORT: 3088
         DB_URL: postgresql://postgres:password@db:5432/tiny-inventory
      depends_on:
         - db
         - wait-db
      command: ['sh', '-c', 'bun run db:apply && bun run start']

   client:
      build:
         context: .
         dockerfile: packages/client/Dockerfile
      ports:
         - 5173:80
      restart: unless-stopped
      depends_on:
         - server

   db:
      image: postgres:16-alpine
      ports:
         - '5433:5432'
      volumes:
         - postgres_data:/var/lib/postgresql/data
      restart: always
      environment:
         POSTGRES_USER: postgres
         POSTGRES_PASSWORD: password
         POSTGRES_DB: tiny-inventory

   wait-db:
      image: bwibo/wait-for-psql
      command: ['30', 'db', '5432', 'tiny-inventory', 'postgres', 'password']
      depends_on:
         - db
volumes:
   postgres_data:
   log_data:
