version: '3.8'

services:
   server:
      build:
         context: .
         dockerfile: packages/server/Dockerfile
      ports:
         - 3088:3088
      volumes:
         - log_data:/app/packages/server/logs
      env_file:
         - packages/server/.env
      restart: unless-stopped
      depends_on:
         - redis
         - db

   client:
      build:
         context: .
         dockerfile: packages/client/Dockerfile
      ports:
         - 80:3000
      image: nginx:alpine
      restart: unless-stopped
      volumes:
         - ./packages/client/dist:/usr/share/nginx/html:ro
      depends_on:
         - server

   db:
      image: postgres:16-alpine
      ports:
         - '5433:5432'
      volumes:
         - postgres_data:/var/lib/postgresql/data
      restart: always
      environment:
         POSTGRES_USER: postgres
         POSTGRES_PASSWORD: password
         POSTGRES_DB: tiny-inventory

   redis:
      image: redis:7-alpine
      ports:
         - '6379:6379'
      restart: always

volumes:
   postgres_data:
   log_data:
