services:
   server:
      build:
         context: .
         dockerfile: Dockerfile
      container_name: tiny_inventory_server
      ports:
         - '${PORT}:${PORT}'
      env_file:
         - .env
      depends_on:
         - redis
         - postgres

   client:
      image: nginx:alpine
      container_name: bun_client
      ports:
         - '5185:80'
      volumes:
         - ./packages/client/dist:/usr/share/nginx/html:ro
      depends_on:
         - server

   postgres:
      image: postgres:16-alpine
      container_name: bun_postgres
      restart: always
      environment:
         POSTGRES_USER: postgres
         POSTGRES_PASSWORD: postgres
         POSTGRES_DB: app
      ports:
         - '5432:5432'
      volumes:
         - postgres_data:/var/lib/postgresql/data

   redis:
      image: redis:7-alpine
      container_name: bun_redis
      ports:
         - '6379:6379'

volumes:
   postgres_data:
